<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="user" value="Hcy5Ef2tuHZ+GmFKLQR4VA==" />
    <add key="password" value="YQxjagDWzRb7KPi/6n40tQ==" />
    <add key="domain" value="V5rBsnjHOeY=" />
    <add key="flag" value="C" />
  </appSettings>  
</configuration>